.image{

  display:flex;
  justify-content: center;
  align-items:center;
  text-align: center;
  

}

.head{

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex: 2;
  font-size: 24px;
  font-weight: bold;
  background-color: aqua;

}

.hed{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
  
}


.ki{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  flex-direction: column;
  flex: 2;
  font-weight: bold;
  color: red;

}

.man{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex: 2;
  font-size: 24px;
  font-weight: bold;
  background-color: yellow;


}

.qwe{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
  
}

.big{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  flex-direction: column;
  flex: 2;
  font-weight: bold;
  color: red;


}

.ssd{

  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex: 2;
  font-size: 24px;
  font-weight: bold;
  background-color: lawngreen;
  
}

.cpu{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 25px;
  flex: 2;
  font-weight: bold;

}

.pop{

  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 20px;
  flex-direction: column;
  flex: 2;
  font-weight: bold;
  color: red;

}
.ten{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex: 2;
  font-size: 24px;
  font-weight: bold;
  background-color: orange;
}

.len{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.nimo{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.nel{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.valu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.volu{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 30px;
  flex: 2;
  font-weight: bold;
}

.ise{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 18px;
  flex: 2;
  font-weight: bold;
}

.submit{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size:40px;
  flex: 5;
  font-weight: bold;
}

.note{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size:13px;
  flex: 5;
  font-weight: bold;
  color: red
}

.area{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 18px;
  flex: 2;
  font-weight: bold;
  background-color: blueviolet
}

.square{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 15px;
  flex: 2;
  font-weight: bold;
}

.side1{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.side2{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.all{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  font-size: 25px
}
.product{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.note2{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size:17px;
  flex: 5;
  font-weight: bold;
  color: red
}

.rectangle{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 15px;
  flex: 2;
  font-weight: bold;
}

.all2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  font-size: 25px
}

.length{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.breadth{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}

.areaof{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 25px;
  flex: 2;
  font-weight: bold;
}